# Basics
*.py[cod]
__pycache__
*.egg-info

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.cache
.coverage
htmlcov

# Environments
.env

# Pyenv
.python-version

# Sublime text
*.sublime-*


# Crossbar config
key.priv
key.pub
node.pid

# Build folders
build/
dist/
